<div class="body">
   <div class="columns">
     <div class="column is-6 first">
       <div class="columns">
         <div class="column ">
           <div class="navbar">
             <div class="navbar-brand">
               <a href="#" class="navbar-item">Colors</a>
             </div>
             <div class="navbar-menu">
             <div class="navbar-end">
               <a class="navbar-item" href="#">Home</a>
               <a class="navbar-item" href="#">About</a>
             </div>
            </div>
           </div><br>
           <div class="container is-fluid has-text-centered">
              <h1 class="title">Choose your color parlette</h1>
             <div class="columns section">
               <div class="column is-3" *ngFor="let color of data">
                 <a (click)="change(color.id)">
                    <div class="item box">
                    <div class="one fill has-text-centered" [style.background-color]="color?.c1" > <span>{{color?.c1}}</span></div>
                    <div class="two fill has-text-centered" [style.background-color]="color?.c2"><span>{{color?.c1}}</span></div>
                    <div class="three fill has-text-centered" [style.background-color]="color?.c3"><span>{{color?.c1}}</span></div>
                    <div class="four fill has-text-centered" [style.background-color]="color?.c4"><span>{{color?.c1}}</span></div>
                 </div>
                 </a>
                
               </div>
               
             </div>
           </div>
           <div class="gencolors columns has-text-centered">
             <div class="cl1 space column">Text
                 <p><i class="fa fa-unlock-alt fa-3x"></i></p>
             </div>
             <div class="cl2 space column has-text-centered">Forground
                <p><i class="fa fa-unlock-alt fa-3x"></i></p>
             </div>
             <div class="cl3 space column has-text-centered">Background
                <p><i class="fa fa-unlock-alt fa-3x"></i></p>
             </div>
             <div class="cl4 space column has-text-centered">Shade
                <p><i class="fa fa-unlock-alt fa-3x"></i></p>
             </div>
           </div>
           <div class="section">
             <div class="columns">
               <div class="column is-6">
                 <button class="button">Generate</button><br><br>
                 <button class="button">Download the palette</button>
               </div>
               <div class="column is-6">
                  <div class="gensubcolors columns">
                      <div class="cl1 space column"></div>
                      <div class="cl2 space column"></div>
                      <div class="cl3 space column"></div>
                      <div class="cl4 space column"></div>
                    </div>
               </div>
             </div>
             
           </div>
           <footer class="footer">
              <div class="content has-text-centered">
                <p>
                  <strong>Colors</strong> by <a href="https://jgthms.com">zidane</a>. The source code is licensed
                  <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                </p>
              </div>
            </footer>
         </div>
       </div>
     </div>
     <div class="column is-6 test">
      <div class="navbar " [style.background-color]="colors?.c4">
        <div class="navbar-brand">
          <a href="#" class="navbar-item" [style.color]="colors?.c2">Test</a>
        </div>
        <div class="navbar-menu">
        <div class="navbar-end" >
          <a class="navbar-item" href="#" [style.color]="colors?.c2">Home</a>
          <a class="navbar-item" href="#" [style.color]="colors?.c2">About</a>
          <a class="navbar-item" href="#" [style.color]="colors?.c2">contact</a>
        </div>
       </div>
      </div>
      <br>
      <div class="section has-text-centered">
            <h1 class="title is-1" [style.color]="colors?.c2">Welcome to your testing <br>component</h1>
            <h1 class="subtitle">Lorem ipsum dolor, sit amet consectetur <br>adipisicing elit. Rerum distinctio maiores quas atque sapiente </h1>
            <a href="#" class="button is-large" [style.background-color]="colors?.c4" [style.color]="colors?.c2">Button</a>
            <br><br><br>
      </div> <hr>
      <br>
      <div class="container">
        <div class="section has-text-centered">
          <h1 class="title">Why choose us?</h1><br>
          <div class="level" [style.background-color]="colors?.c3">
            <div class="level-item has-text-centered">
              <div>
                <h1 class="title" [style.color]="colors?.c4">Hello</h1>
              <p class="heading">hi</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                  <h1 class="title" [style.color]="colors?.c4">Hello</h1>
                <p class="heading">hi</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                  <div>
                    <h1 class="title" [style.color]="colors?.c4">Hello</h1>
                  <p class="heading">hi</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                      <h1 class="title" [style.color]="colors?.c4">Hello</h1>
                    <p class="heading">hi</p>
                    </div>
                  </div>
          </div><br>
      </div>
      <div class="columns">
        <div class="column is-6">
            <div class="notification" [style.background-color]="colors?.c2" [style.background-color]="colors?.c1">
                <button class="delete"></button>
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
                consectetur adipiscing elit
              </div>
        </div>
        <div class="column is-6">
            <div class="notification" [style.background-color]="colors?.c2" [style.background-color]="colors?.c1">
                <button class="delete"></button>
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
                consectetur adipiscing elit
              </div>
        </div>
      </div>
     </div><br>
     <footer class="footer" [style.background-color]="colors?.c4">
        <div class="content has-text-centered">
          <p [style.color]="colors?.c2">
            My Footer Text Sample
          </p>
        </div>
      </footer>
   </div>
</div> 
